<footer>
    <span>Feito por Bruno Inacio</span>
    <a href="https://github.com/brunoibarbosa" target="_blank"><img src="./img/github.svg" alt="Perfil no GitHub"></a>
    <a href="https://www.linkedin.com/in/brunoibarbosa/" target="_blank"><img src="./img/linkedin.svg"
            alt="Perfil no LinkedIn"></a>
</footer>
<script src="./js/bundle.js"></script>
</body>

</html>