<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" href="./js/bundle.js" as="script">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet">
        <title>LightNote</title>
        <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    </head>

    <body>