<section class="editaNota" id="editaNota">
    <form action="/note/edit/:id" method="post" id="form-edita-nota">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" id="tituloEdita" name="title">
        <span></span>
        <textarea id="conteudoEdita" rows="auto" name="content"></textarea>
        <span></span>
        <section>
            <button type="button" id="btnCancelar" class="btnCancelar fecharBalao">Cancelar</button>
            <button type="submit" id="btnSalvar" class="btnSalvar">Salvar</button>
        </section>
    </form>
</section>
<section class="confirmaExcluir">
    <p>Tem certeza que quer excluir?</p>
    <section>
        <button id="btnConfirmaExcluir">Sim</button>
        <button class="btnCancelar fecharBalao">Não</button>
    </section>
</section>
<section class="visualizacao">
    <h3 class="title-visu"></h3>
    <span></span>
    <p class="content-visu"></p>
    <span></span>
    <button type="button" class="fecharBalao">Fechar</button>
</section>