<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet">
        <title>LightNote</title>
        <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    </head>

    <body id="error-404">
        <h1>Ocorreu um problema :(</h1>
        <p>Tente novamente mais tarde...</p>
        <script src="./js/bundle.js"></script>
    </body>

</html>