<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página não encontrada</title>
    </head>

    <body id="error-404">
        <h1>Ocorreu um problema...</h1>
        <p>Tente novamente mais tarde.</p>
    </body>

</html>