<%- include('includes/head') %>
<header id="header-sobre">
    <a href="/">&#8592; Voltar para Página Inicial</a>
    <span>LightNote</span>
</header>
<main id="body-sobre">

</main>
<%- include('includes/footer') %>