<%- include('includes/head') %>
<header id="header-sobre">
    <a href="/">
        <img src="./img/arrow-left.svg" alt="Voltar">
        &nbsp;Voltar para Página Inicial</a>
    <span>LightNote</span>
</header>
<main id="main-sobre">
    <img src="./img/logo.svg" alt="LightNote, anote sem notar">
    <section>
        <h2>Anotação a qualquer segundo!</h2>
        <p>Conte com a gente para fazer anotações rápidas em qualquer momento e sem complicações!</p>
    </section>
    <ul>
        <h2>No Lightnote é fácil,</h2>
        <li>você precisa apenas de um código que você mesmo cria e uma senha</li>
        <li>filtre as notas quando precisar encontrar uma específica!</li>
        <li>crie notas pelo computador e acesse ao mesmo tempo no celular, ou vice-versa!</li>
        <li>não vai mais usar o código? Nosso sistema remove ele depois de 1 semana sem uso!</li>
    </ul>
    <section class="devby">
        <p>Desenvolvido por Bruno Inacio Barbosa</p>
        <a href="https://github.com/brunoibarbosa" target="_blank"><img src="./img/github.svg"
                alt="Perfil no GitHub"></a>
        <a href="https://www.linkedin.com/in/brunoibarbosa/" target="_blank"><img src="./img/linkedin.svg"
                alt="Perfil no LinkedIn"></a>
    </section>
</main>
<%- include('includes/footer') %>