@import 'variaveis';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    min-height: 100vh;
    color: $preto;
}

a {
    text-decoration: none;
}

input, button, select, textarea {
    color: $preto;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset;
}

button {
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    display: block;
    margin: 8px 0;
    padding-right: 10px;
}

img {
    pointer-events: none;
}

header {
    @include flex();
    position: relative;

    button {
        width: 50px;
        height: 50px;
    }

    .logo {
        margin: 70px auto;
        fill: $cor-principal;
    }
}

header section, main {
    button:active {
        transform: translateY(2px) translateZ(2px);

        &::after {
            bottom: -2px !important;
        }
    }
}

nav {
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .btnCod {
        margin-left: 13px;
    }
    
    .btnOpc {
        margin-right: 13px;

        img {
            width: 30px;
        }
    }
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > * {
        padding: 0 24px;
    }
}

body > footer {
    background: $cor-principal;
    color: $branco;
    height: 50px;
    padding: 1rem 0;
    text-align: center;
    font-size: .8rem;
    font-weight: 700;

    img {
        width: 18px;
        margin-top: -3px;
        margin-left: 5px;
        transform: translateY(20%);
    }
}